<!--begin::Header Menu Wrapper-->
<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
    <!--begin::Header Menu-->
    <div class="header-menu header-menu-mobile header-menu-layout-default" id="kt_header_menu">
        <!-- <p style="font-weight: 600; font-size: 14px; padding-top: 25px;">Today: <span style="font-weight: 400; color: #000;" id='ct'></span></p> -->
    </div>
    <!--end::Header Menu-->
 </div>
 <!--end::Header Menu Wrapper-->
 
 
 
 
 
 <!--begin::Topbar-->
 <div class="topbar">
    <!--begin::User-->
    <div class="topbar-item">
       <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
          <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span> <span id="username" class="text-capitalize text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3"></span> <span class="symbol symbol-lg-35 symbol-25 symbol-light-success"><span id="userletter" class="symbol-label font-size-h5 font-weight-bold"></span></span>
       </div>
    </div>
    <!--end::User-->
 </div>
 <!--end::Topbar-->