<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
	<meta charset="utf-8">
	<title>Profile | KENFED</title>
	<meta content="Edit user example" name="description">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"><!--begin::Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"><!--end::Fonts-->
	<!--begin::Page Custom Styles(used by this page)-->
	<link href="css/pages/wizard/wizard-4.css" rel="stylesheet" type="text/css"><!--end::Page Custom Styles-->
	<!--begin::Global Theme Styles(used by all pages)-->
	<link href="plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
	<link href="plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css">
	<link href="css/style.bundle.css" rel="stylesheet" type="text/css"><!--end::Global Theme Styles-->
	<!--begin::Layout Themes(used by all pages)-->
	<link href="css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css">
	<link href="css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css">
	<link href="css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css">
	<link href="css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css"><!--end::Layout Themes-->
	<link href="media/logos/favicon.ico" rel="shortcut icon">
	<script type="text/javascript">
	       function display_ct() {
	       var x = new Date()
	       var x1=x.getMonth() + 1+ "/" + x.getDate() + "/" + x.getFullYear(); 
	       x1 = x1 + " - " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
	       document.getElementById('ct').innerHTML = x1;
	       display_c();
	       }
	</script>
</head><!--end::Head-->
<!--begin::Body-->
<body class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading" id="kt_body" onload="display_ct();">
	<!--begin::Main-->
	<!--begin::Header Mobile-->
	<div class="header-mobile align-items-center header-mobile-fixed" id="kt_header_mobile">
		<!--begin::Logo-->
		<a href="/"><img alt="Logo" src="assets/img/logo/logo2.png"></a> <!--end::Logo-->
		 <!--begin::Toolbar-->
		<div class="d-flex align-items-center">
			<!--begin::Aside Mobile Toggle-->
			<button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle"><span></span></button> <!--end::Aside Mobile Toggle-->
			 <!--begin::Header Menu Mobile Toggle-->
			 <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle"><span></span></button> <!--end::Header Menu Mobile Toggle-->
			 <!--begin::Topbar Mobile Toggle-->
			 <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle"><span class="svg-icon svg-icon-xl"><!--begin::Svg Icon | path:media/svg/icons/General/User.svg--><svg height="24px" version="1.1" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
			<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
				<polygon points="0 0 24 0 24 24 0 24"></polygon>
				<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
				<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
			</g></svg><!--end::Svg Icon--></span></button> <!--end::Topbar Mobile Toggle-->
		</div><!--end::Toolbar-->
	</div><!--end::Header Mobile-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="d-flex flex-row flex-column-fluid page">
			<!--begin::Aside-->
			<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
				<!--begin::Brand-->
				<div class="brand flex-column-auto" id="kt_brand">
					<!--begin::Logo-->
					<a class="brand-logo" href="/"><img alt="Logo" src="assets/img/logo/logo2.png"></a> <!--end::Logo-->
					 <!--begin::Toggle-->
					 <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle"><span class="svg-icon svg-icon svg-icon-xl"><!--begin::Svg Icon | path:media/svg/icons/Navigation/Angle-double-left.svg--><svg height="24px" version="1.1" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
					<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
						<polygon points="0 0 24 0 24 24 0 24"></polygon>
						<path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)"></path>
						<path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)"></path>
					</g></svg><!--end::Svg Icon--></span></button> <!--end::Toolbar-->
				</div><!--end::Brand-->
				<!--begin::Aside Menu-->
				<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
					<%- include('partials/nav') %>
				</div><!--end::Aside Menu-->
			</div><!--end::Aside-->
			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
				<!--begin::Header-->
				<div class="header header-fixed" id="kt_header">
					<!--begin::Container-->
					<div class=" container-fluid d-flex align-items-stretch justify-content-between">
						<%- include('partials/header') %>
					</div><!--end::Container-->
				</div><!--end::Header-->
				<!--begin::Content-->
				<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
					<!--begin::Subheader-->
					<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
						<div class=" container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
							<!--begin::Details-->
							<div class="d-flex align-items-center flex-wrap mr-2">
								<!--begin::Title-->
								<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Edit Profile</h5><!--end::Title-->
								<!--begin::Separator-->
								<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div><!--end::Separator-->
								<!--begin::Search Form-->
								<div class="d-flex align-items-center" id="kt_subheader_search">
									<!-- <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Manish G</span> -->
								</div><!--end::Search Form-->
							</div><!--end::Details-->
							<!--begin::Toolbar-->
							<div class="d-flex align-items-center">
								<!--begin::Button-->
								<a class="btn btn-default font-weight-bold btn-sm px-3 font-size-base" href="#">Back</a> <!--end::Button-->
								 <!--begin::Dropdown-->
								<div class="btn-group ml-2">
									<button class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base" type="button">Save Changes</button>
								</div><!--end::Dropdown-->
							</div><!--end::Toolbar-->
						</div>
					</div><!--end::Subheader-->
					<!--begin::Entry-->
					<div class="d-flex flex-column-fluid">
						<!--begin::Container-->
						<div class=" container">
							<!--begin::Card-->
							<div class="card card-custom">
								<!--begin::Card header-->
								<div class="card-header card-header-tabs-line nav-tabs-line-3x">
									<!--begin::Toolbar-->
									<div class="card-toolbar">
										<ul class="nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
											<!--begin::Item-->
											<li class="nav-item mr-3">
												<a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_1"><span class="nav-icon"><span class="svg-icon"><!--begin::Svg Icon | path:media/svg/icons/Design/Layers.svg--><svg height="24px" version="1.1" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
													<polygon points="0 0 24 0 24 24 0 24"></polygon>
													<path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"></path>
													<path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"></path>
												</g></svg><!--end::Svg Icon--></span></span> <span class="nav-text font-size-lg">Profile KYC <span style="font-family: wingdings; font-size: 200%;">&#x2611;</span></span></a>
											</li><!--end::Item-->
											<!--begin::Item-->
											<!--begin::Item-->
											<li class="nav-item mr-3">
												<a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_2"><span class="nav-icon"><span class="svg-icon"><!--begin::Svg Icon | path:media/svg/icons/Design/Layers.svg--><svg height="24px" version="1.1" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
													<polygon points="0 0 24 0 24 24 0 24"></polygon>
													<path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"></path>
													<path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"></path>
												</g></svg><!--end::Svg Icon--></span></span> <span class="nav-text font-size-lg">Business KYC<span style="font-family: wingdings; font-size: 200%;">&#x2611;</span></span></a>
											</li><!--end::Item-->
											<li class="nav-item mr-3" style="display:none">
												<a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_3"><span class="nav-icon"><span class="svg-icon"><!--begin::Svg Icon | path:media/svg/icons/Communication/Shield-user.svg--><svg height="24px" version="1.1" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
													<rect height="24" width="24" x="0" y="0"></rect>
													<path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"></path>
													<path d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z" fill="#000000" opacity="0.3"></path>
													<path d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z" fill="#000000" opacity="0.3"></path>
												</g></svg><!--end::Svg Icon--></span></span> <span class="nav-text font-size-lg">Change Password<span style="font-family: wingdings; font-size: 200%;">&#x2611;</span></span></a>
											</li><!--end::Item-->
										</ul>
									</div><!--end::Toolbar-->
								</div><!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body">
									<form class="form" id="kt_form" name="kt_form">
										<div class="tab-content">
											<!--begin::Tab-->
											<div class="tab-pane show active px-7" id="kt_user_edit_tab_1" role="tabpanel">
												<!--begin::Row-->
												<div class="row">
													<div class="col-xl-2"></div>
													<div class="col-xl-7 my-2">
														<!--begin::Group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">Logo of the Organisation</label>
															<div class="col-9">
																<div class="image-input image-input-empty image-input-outline" id="kt_user_edit_avatar" style="background-image: url(media/users/blank.png)">
																	<div class="image-input-wrapper"></div><label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-original-title="Change Logo" data-toggle="tooltip" title=""><i class="fa fa-pen icon-sm text-muted"></i> <input accept=".png, .jpg, .jpeg" name="profile_avatar" type="file"> <input name="profile_avatar_remove" type="hidden"></label> <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar"><i class="ki ki-bold-close icon-xs text-muted"></i></span> <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar"><i class="ki ki-bold-close icon-xs text-muted"></i></span>
																</div>
															</div>
														</div><!--end::Group-->
														<!--begin::Group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">First Name</label>
															<div class="col-9">
																<input class="form-control form-control-lg form-control-solid" type="text" id="name" value="">
															</div>
														</div><!--end::Group-->
														<!--begin::Form group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">Surname</label>
															<div class="col-9">
																<select class="form-control form-control-lg form-control-solid" id="surname" value="">
																	<option disabled="disabled" selected="true">
																		Select your Surname
																	</option>
																	<!-- <option>
																		Alugunuru (Gothram: PASUPATI)
																	</option>
																	<option>
																		Balaraju (Gothram: KASHYAPA)
																	</option>
																	<option>
																		Adduri (Gothram: VASISHTA)
																	</option>
																	<option>
																		Addala (Gothram: DHANUNJAYA)
																	</option>
																	<option>
																		Addepalli (Gothram: KAUNDINYA)
																	</option> -->
																</select>
															</div>
														</div><!--end::Form group-->
														<!--begin::Group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">Email Address</label>
															<div class="col-9">
																<div class="input-group input-group-lg input-group-solid">
																	<div class="input-group-prepend">
																		<span class="input-group-text"><i class="la la-at"></i></span>
																	</div><input class="form-control form-control-lg form-control-solid" placeholder="Email" type="text" id="email" value="">
																</div>
															</div>
														</div><!--end::Group-->
														<!--begin::Group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">Mobile Number</label>
															<div class="col-9">
																<div class="input-group input-group-lg input-group-solid">
																	<div class="input-group-prepend">
																		<span class="input-group-text"><i class="la la-phone"></i></span>
																	</div><input class="form-control form-control-lg form-control-solid" placeholder="Phone" type="text" id="mobileno" value="">
																</div><span class="form-text text-muted">We'll never share your contact with anyone else.</span>
															</div>
														</div><!--end::Group-->
														<!--begin::Group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">Name of the Organisation</label>
															<div class="col-9">
																<input class="form-control form-control-lg form-control-solid" type="text" id="organisation" value="">
															</div>
														</div><!--end::Group-->
														<!--begin::Group-->
														<div class="form-group row">
															<label class="col-form-label col-3 text-lg-right text-left">Location of Business</label>
															<div class="col-9">
																<input class="form-control form-control-lg form-control-solid" type="text" id="location" value="">
															</div>
														</div><!--end::Group-->
													</div>
												</div><!--end::Row-->
											</div><!--end::Tab-->
											<!--begin::Tab-->
											<div class="tab-pane px-7" id="kt_user_edit_tab_2" role="tabpanel">
												<!--begin::Row-->
												<div class="row">
													<div class="col-xl-2"></div>
													<div class="col-xl-7">
														<div class="my-2">
															<div class="form-group mb-1">
																<label for="exampleTextarea">MOA</label>
																<br>
																<a id="moa" href="#" target="_blank">Download_MOA.pdf</a>
															 </div>
															  <br>
															  <div class="form-group mb-1">
																<label for="exampleTextarea">AOA</label>
																<br>
																<a id="aoa" href="#">Download_AOA.pdf</a> </div>
															  <br>
															  <div class="form-group mb-1">
																<label for="exampleTextarea">Certificate Of Incorporation</label>
																<br>
																<a id="incorporation" href="#">Download_CertificateOfIncorporation.pdf</a> </div>
															  <br>
															  <div class="form-group mb-1">
																<label for="exampleTextarea">PAN</label>
																<br>
																<a id="pan" href="#">Download_PAN.pdf</a></div>
															  <br>
															  <div class="form-group mb-1">
																<label for="exampleTextarea">GST</label>
																<br>
																<a id="gst" href="#">Download_GST.pdf</a>
															</div>
														</div>
													</div>
													<div class="col-xl-2"></div>
												</div><!--end::Row-->
											</div><!--end::Tab-->
											<!--begin::Tab-->
											<div class="tab-pane px-7" id="kt_user_edit_tab_3" role="tabpanel">
												<!--begin::Body-->
												<div class="card-body">
													<!--begin::Row-->
													<div class="row">
														<div class="col-xl-2"></div>
														<div class="col-xl-7">
															<!--begin::Row-->
															<div class="row mb-5">
																<label class="col-3"></label>
																<div class="col-9">
																	<div class="alert alert-custom alert-light-danger fade show py-4" role="alert">
																		<div class="alert-icon">
																			<i class="flaticon-warning"></i>
																		</div>
																		<div class="alert-text font-weight-bold">
																			Configure user passwords to expire periodically.<br>
																			Users will need warning that their passwords are going to expire, or they might inadvertently get locked out of the system!
																		</div>
																		<div class="alert-close">
																			<button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true"><i class="la la-close"></i></span></button>
																		</div>
																	</div>
																</div>
															</div><!--end::Row-->
															<!--begin::Row-->
															<div class="row">
																<label class="col-3"></label>
																<div class="col-9">
																	<h6 class="text-dark font-weight-bold mb-10">Change Or Recover Your Password:</h6>
																</div>
															</div><!--end::Row-->
															<!--begin::Group-->
															<div class="form-group row">
																<label class="col-form-label col-3 text-lg-right text-left">Current Password</label>
																<div class="col-9">
																	<input class="form-control form-control-lg form-control-solid mb-1" type="text" value="Current password"> <a class="font-weight-bold font-size-sm" href="#">Forgot password ?</a>
																</div>
															</div><!--end::Group-->
															<!--begin::Group-->
															<div class="form-group row">
																<label class="col-form-label col-3 text-lg-right text-left">New Password</label>
																<div class="col-9">
																	<input class="form-control form-control-lg form-control-solid" type="text" value="New password">
																</div>
															</div><!--end::Group-->
															<!--begin::Group-->
															<div class="form-group row">
																<label class="col-form-label col-3 text-lg-right text-left">Verify Password</label>
																<div class="col-9">
																	<input class="form-control form-control-lg form-control-solid" type="text" value="Verify password">
																</div>
															</div><!--end::Group-->
														</div>
													</div><!--end::Row-->
												</div><!--end::Body-->
												<!--begin::Footer-->
												<div class="card-footer pb-0">
													<div class="row">
														<div class="col-xl-2"></div>
														<div class="col-xl-7">
															<div class="row">
																<div class="col-3"></div>
																<div class="col-9">
																	<a class="btn btn-light-primary font-weight-bold" href="#">Save changes</a> <a class="btn btn-clean font-weight-bold" href="#">Cancel</a>
																</div>
															</div>
														</div>
													</div>
												</div><!--end::Footer-->
											</div><!--end::Tab-->
										</div>
									</form>
								</div><!--end:Card body-->
							</div><!--end::Card-->
						</div><!--end::Container-->
					</div><!--end::Entry-->
				</div><!--end::Content-->
				<%-  include('partials/footer') %>
			</div><!--end::Wrapper-->
		</div><!--end::Page-->
	</div><!--end::Main-->
	<%- include('partials/userprofile') %><!--begin::Scrolltop-->
	<div class="scrolltop" id="kt_scrolltop">
		<span class="svg-icon"><!--begin::Svg Icon | path:media/svg/icons/Navigation/Up-2.svg--><svg height="24px" version="1.1" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
		<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
			<polygon points="0 0 24 0 24 24 0 24"></polygon>
			<rect fill="#000000" height="10" opacity="0.3" rx="1" width="2" x="11" y="10"></rect>
			<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"></path>
		</g></svg><!--end::Svg Icon--></span>
	</div><!--end::Scrolltop-->
	<script>
	              var KTAppSettings = {
	      "breakpoints": {
	          "sm": 576,
	          "md": 768,
	          "lg": 992,
	          "xl": 1200,
	          "xxl": 1400
	      },
	      "colors": {
	          "theme": {
	              "base": {
	                  "white": "#ffffff",
	                  "primary": "#3699FF",
	                  "secondary": "#E5EAEE",
	                  "success": "#1BC5BD",
	                  "info": "#8950FC",
	                  "warning": "#FFA800",
	                  "danger": "#F64E60",
	                  "light": "#E4E6EF",
	                  "dark": "#181C32"
	              },
	              "light": {
	                  "white": "#ffffff",
	                  "primary": "#E1F0FF",
	                  "secondary": "#EBEDF3",
	                  "success": "#C9F7F5",
	                  "info": "#EEE5FF",
	                  "warning": "#FFF4DE",
	                  "danger": "#FFE2E5",
	                  "light": "#F3F6F9",
	                  "dark": "#D6D6E0"
	              },
	              "inverse": {
	                  "white": "#ffffff",
	                  "primary": "#ffffff",
	                  "secondary": "#3F4254",
	                  "success": "#ffffff",
	                  "info": "#ffffff",
	                  "warning": "#ffffff",
	                  "danger": "#ffffff",
	                  "light": "#464E5F",
	                  "dark": "#ffffff"
	              }
	          },
	          "gray": {
	              "gray-100": "#F3F6F9",
	              "gray-200": "#EBEDF3",
	              "gray-300": "#E4E6EF",
	              "gray-400": "#D1D3E0",
	              "gray-500": "#B5B5C3",
	              "gray-600": "#7E8299",
	              "gray-700": "#5E6278",
	              "gray-800": "#3F4254",
	              "gray-900": "#181C32"
	          }
	      },
	      "font-family": "Poppins"
	   };
	</script> <!--end::Global Config-->
	 <!--begin::Global Theme Bundle(used by all pages)-->
	 
	<script src="plugins/global/plugins.bundle.js">
	</script> 
	<script src="plugins/custom/prismjs/prismjs.bundle.js">
	</script> 
	<script src="js/scripts.bundle.js">
	</script> <!--end::Global Theme Bundle-->
	 <!--begin::Page Scripts(used by this page)-->
	 
	<script src="js/pages/custom/user/edit-user.js">
	</script> <!--end::Page Scripts-->
	<script>
		function getSurnames()
		{	
			console.log("get surnames");
			$.ajax({
              type: 'GET',
              dataType:"json",
              contentType: 'application/json',
              url: '/api/surname/list',
              success: function (data, status, xhr) {
                console.log('data: ', data);
                if(data.status=='success')
                {     
                  for(var i=0;i<data.list.length;i++)
                  {
                    // console.log(data.list[i]);                   
					$("#surname").append(new Option(data.list[i].name+"("+data.list[i].gothram+")",data.list[i].id));
                  }
                }					
              },
              error(){
                console.log('Error');
              }
            });


		}
		$(document).ready(function() {
            console.log( "ready!" );
			var params = (new URL(location)).searchParams;
			var id = params.get("id");
			$("#username").text("");
			$("#userletter").text("");
			$.ajax({
				type: 'GET',
				dataType:"json",
				contentType: 'application/json',
				url: '/api/user/profile/'+id,
				success: function (data, status, xhr) {
					console.log('data: ', data);
					if(data.status=='success')
					{
						
						if(data.userstatus=='ACTIVE')
						{
							$("#username").text(data.username.toLowerCase());$("#userprofilename").text(data.username.toLowerCase());$("#userprofileemail").text(data.email);
							$("#userletter").text(data.username.charAt(0).toUpperCase());
							$("#name").val(data.username);
							$("#surname").val(data.surname);
							$('#surname').prop('disabled', true);
							$("#email").val(data.email);
							$("#mobileno").val(data.mobileno);
							$("#organisation").val(data.organisation);
							$("#location").val(data.location);
							$("#moa").attr("href", data.moa);
							$("#aoa").attr("href", data.aoa);
							$("#incorporation").attr("href", data.incorporation);
							$("#pan").attr("href", data.pan);
							$("#gst").attr("href", data.gst);
							$("#userid").val(id);
							console.log($("#userid").val());
							$("#profile").attr("href","/profile?id="+id);
							$("#catalogue").attr("href","/view-catalogue?id="+id);
							getSurnames();          	
						}
						else if(data.userstatus=='REGISTERED')
						{
							location.replace("/submit-profile?id="+id);
						}
						else if(data.userstatus=='SUBMITTED')
						{
							location.replace("/waiting-verification?id="+id);
						}
						else if(data.userstatus=='VERIFIED')
						{
							location.replace("/waiting-activation?id="+id);
						}

					}					
				},
				error(){
					console.log('Error');
				}
			});
			
        });
	</script>
	 <!--end::Body-->
</body>
</html>